$breakpoint-small: 343px;
$breakpoint-medium: 736px;
$breakpoint-large: 992px;
$breakpoint-Xlarge: 1270px;

$white-color: #ffffff;
$orange-color: #fcc73d;
$blue-color: #214f9c;
$orangeForsythia-color: #ffc700;
$black-color: #000000;
$whiteBrilliant-color: #e6f2ff;
$grey-color: #666666;
$blueNordland-color: #99adc4;
$squant-color: #cccccc;
$blueUSAFA-color: #004f9e;
$blueBalaclavas-color: #12293d;
$blueEcho-color: #263d66;
$whiteDr-color: #fafafa;
$blueSurface-color: #0a2e85;
$greyTin-color: #919191;
$blackRussian-color: #242429;
$greyShadow-color: #f0f2fa;
$purple-color: #4a455c;
$greyMillion-color: #999999;
// #FFC700
// #666666